<form action="/links" method="post">
  <h1> add links </h1>
    <label for="url">
    <p> enter website address </p>
    <input type="text" name="url"/>
    </label>
    <label for="title">
    <p> enter a title </p>
    <input type="text" name="title"/>
    </label>
    <input type="submit" value="Create link">
</form>

